*{
  margin:0;
  padding:0;
}

body {
  background-color: hsl(0, 0%, 8%);
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  
}

img{
  border-radius: 50%;
  height: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  margin-bottom: 30px;
  margin-top: 30px;
  
}

button{
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 7px;
  /*margin-left: 10px;
  margin-right: 10px;*/
  margin-left: 50px;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-weight: 700;
  width: 300px;
}

.info{
    
    width:400px;
    margin:auto;
    margin-top: 100px;
    border-radius:10px;
    border-style: solid;
    border-color: hsl(0, 0%, 12%);
    background-color: hsl(0, 0%, 12%);
    align-items: center;
    padding: 10px;
}

.profile{
  text-align: center;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  
}

.name {
  text-decoration: solid;
  padding:5px;
  font-size: 20px;
  font-family: Inter, sans-serif;
  color:hsl(0, 0%, 100%);
  font-weight: 700;
}

.place{
  color:hsl(75, 94%, 57%);
  font-weight: 600;
}

.about{
  padding:20px;
  color:hsl(0, 0%, 100%);
  font-weight: 400;
}

.attribution { font-size: 11px;
  text-align: center;
  color:hsl(0, 0%, 100%);
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  padding: 15px;
  margin-top: 30px;
}

.attribution a { color: hsl(228, 45%, 44%); }
